<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<section *ngIf="!isMenuActive && !isMenuActiveMovil">
    <img src="../../../assets/accesorios/logo.png" alt="">
    <article>
        <div>
            <p *ngIf="selectedLocation !== null">{{ selectedLocation + ', Finland' || 'Add location' }}</p>
            <p *ngIf="selectedLocation === null">Add location</p>
        </div>
        <div>
            <p class="huespedes">{{ totalGuests > 0 ? totalGuests + ' guests' : 'Add guests' }}</p>
        </div>
        <button class="search" (click)="toggleMenu()">
            <span class="material-symbols-outlined">
                search
            </span>
        </button>
    </article>
</section>
<app-card-buscar *ngIf="isMenuActive" (cerrar)="closeMenu()"></app-card-buscar>
<app-card-buscar-movil *ngIf="isMenuActiveMovil" (cerrar)="closeMenu()"></app-card-buscar-movil>
